<div class='loggedAdvise'>
    <h2>SUCESSO</h2>
    <h3>Usuário <%= user.username %> fez login com sucesso</h3>

    <form>
        <button formaction="/logout">Sair</button>
    </form>
</div>

<style>
    .loggedAdvise{
        text-align: center;
    }

    .loggedAdvise button {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 200px;
        height: 30px;
        border-radius: 5px;
        border: 1px;
        border-style: solid;
    }
</style>